html {
  --sportbook-primary-color: #32bd38;
  --primary-color: #ffc21d;
  --primary-color-rgb: 255, 194, 29;
  --primary-light-color: #efe4b0;
  --primary-dark-color: #dfa918;
  --secondary-bg-color: #f3f0dc;
  --button-bg-color: #000000;
  --header-bg-color: #ffc21d;
  --header-txt-color: #000000;
  --tab-link-bg-color: #a6a9b8;
  --menu-border-bottom-color: #e0ddc9;
  --notification-bg-color: #f3f0dc;
  --bet-slip-bg-color: #ffc31f;
  --profit-bg-color: #e0b000;
  --primary-inplay-color: #6da80d;
  --primary-font-color: #000000;
  --primary-font-rev-color: #ffffff;
  --button-txt-color: #ffffff;
  --menu-icon-bg-color: #232323;
  --sports-highlight-bg-color: #ffffff;
  --table-border-color: #dfdfdf;
  --search-bg-color: #ffffff;
  --backlay-div-bg-color: #ffffff;
  --backlay-div-hover-bg-color: #edf0f0;
  --rate-color: #333333;
  --bet-slip-title-bg-color: #edf0f0;
  --table-tr-td-color: #f9f9f9;
  --score-section-bg: #ffffff;
  --font-light-secondary: #808080;
  --scrollbar-color: #000;
  --animation-bg-color: #b3b3b378;
  --gradient-bg: linear-gradient(
    132deg,
    #eae7d3 8.33%,
    #f3f0dc 8.33%,
    #f3f0dc 50%,
    #eae7d3 50%,
    #eae7d3 58.33%,
    #f3f0dc 58.33%,
    #f3f0dc 100%
  );
  --side-menu-txt-color: #000000;
  --side-menu-badge-bg-color: #ffc21d;
  --side-menu-badge-txt-color: #000000;
  --back-cell-color: #9ecddf;
  --lay-cell-color: #fbd7e5;
  --balance-bg: #ffffff;
  --balance-txt: #000000;
  --inplay-color: #00b181;
  --btn-tv: #ffffff;
  --dateTime-bg-color: #888888;
  --dateTime-txt-color: #ffffff;
  --match-name-color: #000000;
  --tornament-name: #000000;
  --tag-title-color: #000000;
  --tag-txt-color: #000000;
  --tag-bg-color: #ffc21d;
  --cat-sldr-txt-color: #000000;
  --cat-sldr-bg-color: #ffffff;
  --cat-sldr-active-bg-color: #ffc21d;
  --cat-sldr-active-txt-color: #000000;
  --cat-sldr-tag-count-bg-color: #ffffff;
  --cat-sldr-tag-count-txt-color: #000000;
  --cat-sldr-tag-count-inplay-bg-color: #00b181;
  --mtch-tab-txt-color: #000000;
  --mtch-tab-act-border-color: #ffc21d;
  --mtch-live-color: #009900;
  --mtch-remain-color: #000000;
  --mtch-tour-name-txt-color: #000000;
  --mtch-tour-date-txt-color: #000000;
  --mtch-tour-bg-color: #ffc21d;
  --mtch-teamA-txt-color: #000000;
  --mtch-teamA-gradient-start-color: #ffffff;
  --mtch-teamA-gradient-end-color: #ffc21d;
  --mtch-vs-color: #000000;
  --mtch-teamB-txt-color: #000000;
  --mtch-teamB-gradient-start-color: #ffc21d;
  --mtch-teamB-gradient-end-color: #ffffff;
  --mtch-info-bg-color: #ffffff;
  --mtch-info-bottom-border-color: #efe4b0;
  --mtch-odds-title-txt-color: #000000;
  --mtch-odds-runner-txt-color: #000000;
  --mtch-odds-runner-top-border-color: #efe4b0;
  --mtch-odds-rule-info-txt-color: #ffffff;
  --mtch-odds-rule-info-bg-color: #000000;
  --mtch-odds-bg-color: #ffffff;
  --mtch-fan-tab-txt-color: #000000;
  --mtch-fan-tab-act-border-color: #000000;
  --mtch-fan-tab-bg-color: #ffc21d;
  --mtch-fan-title-txt-color: #000000;
  --mtch-fan-title-bg-color: #ffc21d;
  --mtch-fan-rule-info-txt-color: #000000;
  --mtch-fan-rule-info-bg-color: #ffffff;
  --mtch-fan-mrk-txt-color: #000000;
  --mtch-fan-mrk-bg-color: #ffffff;
  --one-click-betting-txt-color: #000000;
  --one-click-betting-bg-color: #ffffff;
  --match-tab-br-color: var(--primary-color);
  --live-gr-start-color: #009900;
  --live-gr-end-color: #007f00;
  --bet-slip-modal-bg: #efe4b0;
  --bet-slip-box-bg: #ffffff;
  --bet-slip-runner-color: #000000;
  --modal-header: #000000;
}
html.dark {
  --primary-color: #ffc21d;
  --primary-light-color: #000000;
  --primary-color-rgb: 255, 194, 29;
  --primary-dark-color: #2e2f2f;
  --secondary-bg-color: #2e2f2f;
  --button-bg-color: #ffc21d;
  --header-bg-color: #ffc21d;
  --header-txt-color: #000000;
  --tab-link-bg-color: #1d1d1d;
  --menu-border-bottom-color: #424242;
  --notification-bg-color: #424242;
  --bet-slip-bg-color: #2e2f2f;
  --profit-bg-color: #ffc21d;
  --primary-inplay-color: #6da80d;
  --primary-font-color: #ffffff;
  --primary-font-rev-color: #000000;
  --button-txt-color: #000000;
  --menu-icon-bg-color: #303030;
  --sports-highlight-bg-color: #2e2f2f;
  --table-border-color: #000000;
  --search-bg-color: #404040;
  --backlay-div-bg-color: #4c4c4c;
  --backlay-div-hover-bg-color: #333333;
  --rate-color: #8a8a8a;
  --bet-slip-title-bg-color: #868686;
  --table-tr-td-color: #424242;
  --score-section-bg: #2e2f2f;
  --font-light-secondary: #ffffffb8;
  --scrollbar-color: #dfdfdf;
  --animation-bg-color: #626262d9;
  --gradient-bg: linear-gradient(
    132deg,
    #1d1d1d 8.33%,
    #1b1b1b 8.33%,
    #1b1b1b 50%,
    #1d1d1d 50%,
    #1d1d1d 58.33%,
    #1b1b1b 58.33%,
    #1b1b1b 100%
  );
  --side-menu-txt-color: #ffffff;
  --side-menu-badge-bg-color: #ffc21d;
  --side-menu-badge-txt-color: #000000;
  --back-cell-color: #9ecddf;
  --lay-cell-color: #fbd7e5;
  --balance-bg: #000000;
  --balance-txt: #ffffff;
  --inplay-color: #00b181;
  --btn-tv: #8f8f8f;
  --dateTime-bg-color: #888888;
  --dateTime-txt-color: #ffffff;
  --match-name-color: #ffffff;
  --tornament-name: #ffffff;
  --tag-title-color: #ffffff;
  --tag-txt-color: #000000;
  --tag-bg-color: #ffc21d;
  --cat-sldr-txt-color: #ffffff;
  --cat-sldr-bg-color: #333333;
  --cat-sldr-active-bg-color: #ffc21d;
  --cat-sldr-active-txt-color: #000000;
  --cat-sldr-tag-count-bg-color: #ffffff;
  --cat-sldr-tag-count-txt-color: #000000;
  --cat-sldr-tag-count-inplay-bg-color: #00b181;
  --mtch-tab-txt-color: #ffffff;
  --mtch-tab-act-border-color: #ffc21d;
  --mtch-live-color: #009900;
  --mtch-remain-color: #ffffff;
  --mtch-tour-name-txt-color: #000000;
  --mtch-tour-date-txt-color: #000000;
  --mtch-tour-bg-color: #ffc21d;
  --mtch-teamA-txt-color: #ffffff;
  --mtch-teamA-gradient-start-color: #2e2f2f;
  --mtch-teamA-gradient-end-color: #ffc21d;
  --mtch-vs-color: #ffffff;
  --mtch-teamB-txt-color: #ffffff;
  --mtch-teamB-gradient-start-color: #ffc21d;
  --mtch-teamB-gradient-end-color: #2e2f2f;
  --mtch-info-bg-color: #2e2f2f;
  --mtch-info-bottom-border-color: #000000;
  --mtch-odds-title-txt-color: #ffffff;
  --mtch-odds-runner-txt-color: #ffffff;
  --mtch-odds-runner-top-border-color: #000000;
  --mtch-odds-rule-info-txt-color: #000000;
  --mtch-odds-rule-info-bg-color: #ffffff;
  --mtch-odds-bg-color: #2e2f2f;
  --mtch-fan-tab-txt-color: #000000;
  --mtch-fan-tab-act-border-color: #000000;
  --mtch-fan-tab-bg-color: #ffc21d;
  --mtch-fan-title-txt-color: #000000;
  --mtch-fan-title-bg-color: #ffc21d;
  --mtch-fan-rule-info-txt-color: #000000;
  --mtch-fan-rule-info-bg-color: #ffffff;
  --mtch-fan-mrk-txt-color: #ffffff;
  --mtch-fan-mrk-bg-color: #2e2f2f;
  --one-click-betting-txt-color: #ffffff;
  --one-click-betting-bg-color: #2e2f2f;
  --match-tab-br-color: #2d2e2e;
  --live-gr-start-color: #5effa8;
  --live-gr-end-color: #1fc86d;
  --bet-slip-modal-bg: #2d2e2e;
  --bet-slip-box-bg: #000;
  --bet-slip-runner-color: var(--primary-color);
  --modal-header: #000000;
}
.sportbook {
  --primary-color: var(--sportbook-primary-color);
  --prmary-color: var(--sportbook-primary-color);
  --header-bg-color: var(--sportbook-primary-color);
  --bet-slip-bg-color: var(--sportbook-primary-color);
  --primary-color-rgb: 50, 189, 56;
}
