.fp6,
.fp3,
.fp5,
.footer-certify-img1,
.fp1,
.fp4,
.footer-certify-img4,
.fp2,
.sm-icon1,
.sm-icon3,
.sm-icon5,
.sm-icon6,
.sm-icon2,
.sm-icon4,
.footer-certify-img9,
.footer-certify-img8,
.footer-certify-img7,
.footer-certify-img6,
.footer-certify-img5,
.footer-certify-img3 {
  max-width: 100%;
  background-size: 100%;
  background-image: url("https://asset.satbet.com/homepage_assets/images/satbet-sprite-1.png");
}

.fp6 {
  background-position: 0 0%;
  background-size: 100%;
}
.fp3 {
  background-position: 0 3.503185%;
  background-size: 166.4%;
}
.fp5 {
  background-position: 0 7.430998%;
  background-size: 166.4%;
}
.footer-certify-img1 {
  background-position: 0 11.358811%;
  background-size: 179.310345%;
}
.fp1 {
  background-position: 0 15.238095%;
  background-size: 221.276596%;
}
.fp4 {
  background-position: 0 18.736842%;
  background-size: 221.276596%;
}
.footer-certify-img4 {
  background-position: 0 21.927966%;
  background-size: 223.655914%;
}
.fp2 {
  background-position: 0 25.635593%;
  background-size: 244.705882%;
}
.sm-icon1 {
  background-position: 0 30.540243%;
  background-size: 288.888889%;
}
.sm-icon3 {
  background-position: 0 38.478501%;
  background-size: 288.888889%;
}
.sm-icon5 {
  background-position: 0 46.416759%;
  background-size: 288.888889%;
}
.sm-icon6 {
  background-position: 0 54.355017%;
  background-size: 288.888889%;
}
.sm-icon2 {
  background-position: 0 62.293275%;
  background-size: 292.957746%;
}
.sm-icon4 {
  background-position: 0 70.231533%;
  background-size: 292.957746%;
}
.footer-certify-img9 {
  background-position: 0 75.026455%;
  background-size: 340.983607%;
}
.footer-certify-img8 {
  background-position: 0 80.151025%;
  background-size: 400%;
}
.footer-certify-img7 {
  background-position: 0 85.483871%;
  background-size: 416%;
}
.footer-certify-img6 {
  background-position: 0 90.55794%;
  background-size: 433.333333%;
}
.footer-certify-img5 {
  background-position: 0 95.806452%;
  background-size: 452.173913%;
}
.footer-certify-img3 {
  background-position: 0 100%;
  background-size: 562.162162%;
}

.htp1,
.htp2,
.htp3,
.satbet-logo,
.providers-img-7,
.providers-img-2,
.providers-img-3,
.providers-img-4,
.providers-img-5,
.providers-img-6,
.providers-img-8,
.providers-img-9,
.providers-img,
.providers-img-1,
.providers-img-10,
.level-gold,
.level-platinum,
.level-silver,
.level-vip,
.img-18plus {
  max-width: 100%;
  background-size: 100%;
  background-image: url("https://asset.satbet.com/homepage_assets/images/satbet-sprite-2.png");
}

.htp1 {
  background-position: 0 0%;
  background-size: 100%;
}
.htp2 {
  background-position: 0 15.651438%;
  background-size: 100%;
}
.htp3 {
  background-position: 0 31.302876%;
  background-size: 100%;
}
.satbet-logo {
  background-position: 0 41.573034%;
  background-size: 185%;
}
.providers-img-7 {
  background-position: 0 44.469697%;
  background-size: 258.741259%;
}
.providers-img-2 {
  background-position: 0 48.030303%;
  background-size: 260.56338%;
}
.providers-img-3 {
  background-position: 0 51.590909%;
  background-size: 260.56338%;
}
.providers-img-4 {
  background-position: 0 55.151515%;
  background-size: 260.56338%;
}
.providers-img-5 {
  background-position: 0 58.712121%;
  background-size: 260.56338%;
}
.providers-img-6 {
  background-position: 0 62.296324%;
  background-size: 260.56338%;
}
.providers-img-8 {
  background-position: 0 65.871212%;
  background-size: 260.56338%;
}
.providers-img-9 {
  background-position: 0 69.431818%;
  background-size: 260.56338%;
}
.providers-img {
  background-position: 0 72.992424%;
  background-size: 262.411348%;
}
.providers-img-1 {
  background-position: 0 76.582039%;
  background-size: 262.411348%;
}
.providers-img-10 {
  background-position: 0 80.151515%;
  background-size: 262.411348%;
}
.level-gold {
  background-position: 0 84.544759%;
  background-size: 308.333333%;
}
.level-platinum {
  background-position: 0 89.135425%;
  background-size: 308.333333%;
}
.level-silver {
  background-position: 0 93.72609%;
  background-size: 308.333333%;
}
.level-vip {
  background-position: 0 98.316756%;
  background-size: 308.333333%;
}
.img-18plus {
  background-position: 0 100%;
  background-size: 840.909091%;
}

.dwnld-banner,
.img-1179979,
.img-1179992,
.img-1179994,
.img-119102,
.img-119802,
.img-2293765,
.img-40fr,
.img-87564,
.img-92037,
.evp-aeronauts,
.rl-24,
.ts-tg-supersixer-classicscratch,
.swiper-left-arrow,
.swiper-right-arrow {
  max-width: 100%;
  background-size: 100%;
  background-image: url("https://asset.satbet.com/homepage_assets/images/satbet-sprite-4.png");
}

.dwnld-banner {
  background-position: 0 0%;
  background-size: 100%;
}
.img-1179979 {
  background-position: 0 15.693431%;
  background-size: 283.333333%;
}
.img-1179992 {
  background-position: 0 23.158593%;
  background-size: 283.333333%;
}
.img-1179994 {
  background-position: 0 30.623756%;
  background-size: 283.333333%;
}
.img-119102 {
  background-position: 0 38.088918%;
  background-size: 283.333333%;
}
.img-119802 {
  background-position: 0 45.554081%;
  background-size: 283.333333%;
}
.img-2293765 {
  background-position: 0 53.019244%;
  background-size: 283.333333%;
}
.img-40fr {
  background-position: 0 60.484406%;
  background-size: 283.333333%;
}
.img-87564 {
  background-position: 0 67.949569%;
  background-size: 283.333333%;
}
.img-92037 {
  background-position: 0 75.414731%;
  background-size: 283.333333%;
}
.evp-aeronauts {
  background-position: 0 82.879894%;
  background-size: 283.333333%;
}
.rl-24 {
  background-position: 0 90.345056%;
  background-size: 283.333333%;
}
.ts-tg-supersixer-classicscratch {
  background-position: 0 97.810219%;
  background-size: 283.333333%;
}
.swiper-left-arrow {
  background-position: 0 98.97068%;
  background-size: 2575.757576%;
}
.swiper-right-arrow {
  background-position: 0 100%;
  background-size: 2575.757576%;
}

.img-1000074,
.img-1000148,
.img-1000605,
.img-1000607,
.img-1000608,
.img-1000609,
.img-1000610,
.balloon,
.jetx,
.jetx3,
.spb-aviator,
.tk-midasgoldentouch {
  max-width: 100%;
  background-size: 100%;
  background-image: url("https://asset.satbet.com/homepage_assets/images/satbet-sprite-5.png");
}

.img-1000074 {
  background-position: 0 0%;
  background-size: 100%;
}
.img-1000148 {
  background-position: 0 9.090909%;
  background-size: 100%;
}
.img-1000605 {
  background-position: 0 18.181818%;
  background-size: 100%;
}
.img-1000607 {
  background-position: 0 27.272727%;
  background-size: 100%;
}
.img-1000608 {
  background-position: 0 36.363636%;
  background-size: 100%;
}
.img-1000609 {
  background-position: 0 45.454545%;
  background-size: 100%;
}
.img-1000610 {
  background-position: 0 54.545455%;
  background-size: 100%;
}
.balloon {
  background-position: 0 63.636364%;
  background-size: 100%;
}
.jetx {
  background-position: 0 72.727273%;
  background-size: 100%;
}
.jetx3 {
  background-position: 0 81.818182%;
  background-size: 100%;
}
.spb-aviator {
  background-position: 0 90.909091%;
  background-size: 100%;
}
.tk-midasgoldentouch {
  background-position: 0 100%;
  background-size: 100%;
}

.group-48098768,
.group-480987684,
.group-48099022,
.group-48099031,
.group-48099032,
.group-48099034,
.group-48099035,
.group-48099036 {
  max-width: 100%;
  background-size: 100%;
  background-image: url("https://asset.satbet.com/homepage_assets/images/satbet-sprite-6.png");
}

.group-48098768 {
  background-position: 0 0%;
  background-size: 100%;
}
.group-480987684 {
  background-position: 0 14.285714%;
  background-size: 100%;
}
.group-48099022 {
  background-position: 0 28.571429%;
  background-size: 100%;
}
.group-48099031 {
  background-position: 0 42.857143%;
  background-size: 100%;
}
.group-48099032 {
  background-position: 0 57.142857%;
  background-size: 100%;
}
.group-48099034 {
  background-position: 0 71.428571%;
  background-size: 100%;
}
.group-48099035 {
  background-position: 0 85.714286%;
  background-size: 100%;
}
.group-48099036 {
  background-position: 0 100%;
  background-size: 100%;
}

img {
  height: auto;
}

img.newgame-img {
  height: auto;
}
.footer_payment_images {
  align-items: center;
}
.game_overlay_main .game-name {
  line-height: 1;
  transform: translate(0, 10%);
}
a.navbar-brand img {
  height: auto;
}
li.nav-item p {
  font-size: 12px !important;
}
.header_wallet {
  background: linear-gradient(180deg, #e9ce75 0%, #d4992b 100%);
  color: rgba(16, 55, 92, 1);
  font-weight: var(--semibold_fontweight);
  padding: var(--align_px10) var(--sb_px20);
  border-radius: var(--fontsize_12);
  font-size: var(--navlink_fontsize);
  white-space: nowrap;
  padding: 8px 10px;
  font-size: 13px;
}
#siteUrl_footer {
  color: #3c3c3c;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .footer_fontsize.footer_fontsize_mob_align.footer_fontsize_mob_align1 {
    margin-bottom: 10px;
  }
}

.swal2-popup.swal2-toast {
  box-sizing: border-box;
  grid-column: 1/4 !important;
  grid-row: 1/4 !important;
  grid-template-columns: min-content auto min-content;
  padding: 1em;
  overflow-y: hidden;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.075),
    1px 2px 4px rgba(0, 0, 0, 0.075), 1px 3px 8px rgba(0, 0, 0, 0.075),
    2px 4px 16px rgba(0, 0, 0, 0.075);
  pointer-events: all;
}
.swal2-popup.swal2-toast > * {
  grid-column: 2;
}
.swal2-popup.swal2-toast .swal2-title {
  margin: 0.5em 1em;
  padding: 0;
  font-size: 1em;
  text-align: initial;
}
.swal2-popup.swal2-toast .swal2-loading {
  justify-content: center;
}
.swal2-popup.swal2-toast .swal2-input {
  height: 2em;
  margin: 0.5em;
  font-size: 1em;
}
.swal2-popup.swal2-toast .swal2-validation-message {
  font-size: 1em;
}
.swal2-popup.swal2-toast .swal2-footer {
  margin: 0.5em 0 0;
  padding: 0.5em 0 0;
  font-size: 0.8em;
}
.swal2-popup.swal2-toast .swal2-close {
  grid-column: 3/3;
  grid-row: 1/99;
  align-self: center;
  width: 0.8em;
  height: 0.8em;
  margin: 0;
  font-size: 2em;
}
.swal2-popup.swal2-toast .swal2-html-container {
  margin: 0.5em 1em;
  padding: 0;
  overflow: initial;
  font-size: 1em;
  text-align: initial;
}
.swal2-popup.swal2-toast .swal2-html-container:empty {
  padding: 0;
}
.swal2-popup.swal2-toast .swal2-loader {
  grid-column: 1;
  grid-row: 1/99;
  align-self: center;
  width: 2em;
  height: 2em;
  margin: 0.25em;
}
.swal2-popup.swal2-toast .swal2-icon {
  grid-column: 1;
  grid-row: 1/99;
  align-self: center;
  width: 2em;
  min-width: 2em;
  height: 2em;
  margin: 0 0.5em 0 0;
}
.swal2-popup.swal2-toast .swal2-icon .swal2-icon-content {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  font-weight: bold;
}
.swal2-popup.swal2-toast .swal2-icon.swal2-success .swal2-success-ring {
  width: 2em;
  height: 2em;
}
.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^="swal2-x-mark-line"] {
  top: 0.875em;
  width: 1.375em;
}
.swal2-popup.swal2-toast
  .swal2-icon.swal2-error
  [class^="swal2-x-mark-line"][class$="left"] {
  left: 0.3125em;
}
.swal2-popup.swal2-toast
  .swal2-icon.swal2-error
  [class^="swal2-x-mark-line"][class$="right"] {
  right: 0.3125em;
}
.swal2-popup.swal2-toast .swal2-actions {
  justify-content: flex-start;
  height: auto;
  margin: 0;
  margin-top: 0.5em;
  padding: 0 0.5em;
}
.swal2-popup.swal2-toast .swal2-styled {
  margin: 0.25em 0.5em;
  padding: 0.4em 0.6em;
  font-size: 1em;
}
.swal2-popup.swal2-toast .swal2-success {
  border-color: #a5dc86;
}
.swal2-popup.swal2-toast .swal2-success [class^="swal2-success-circular-line"] {
  position: absolute;
  width: 1.6em;
  height: 3em;
  transform: rotate(45deg);
  border-radius: 50%;
}
.swal2-popup.swal2-toast
  .swal2-success
  [class^="swal2-success-circular-line"][class$="left"] {
  top: -0.8em;
  left: -0.5em;
  transform: rotate(-45deg);
  transform-origin: 2em 2em;
  border-radius: 4em 0 0 4em;
}
.swal2-popup.swal2-toast
  .swal2-success
  [class^="swal2-success-circular-line"][class$="right"] {
  top: -0.25em;
  left: 0.9375em;
  transform-origin: 0 1.5em;
  border-radius: 0 4em 4em 0;
}
.swal2-popup.swal2-toast .swal2-success .swal2-success-ring {
  width: 2em;
  height: 2em;
}
.swal2-popup.swal2-toast .swal2-success .swal2-success-fix {
  top: 0;
  left: 0.4375em;
  width: 0.4375em;
  height: 2.6875em;
}
.swal2-popup.swal2-toast .swal2-success [class^="swal2-success-line"] {
  height: 0.3125em;
}
.swal2-popup.swal2-toast
  .swal2-success
  [class^="swal2-success-line"][class$="tip"] {
  top: 1.125em;
  left: 0.1875em;
  width: 0.75em;
}
.swal2-popup.swal2-toast
  .swal2-success
  [class^="swal2-success-line"][class$="long"] {
  top: 0.9375em;
  right: 0.1875em;
  width: 1.375em;
}
.swal2-popup.swal2-toast
  .swal2-success.swal2-icon-show
  .swal2-success-line-tip {
  animation: swal2-toast-animate-success-line-tip 0.75s;
}
.swal2-popup.swal2-toast
  .swal2-success.swal2-icon-show
  .swal2-success-line-long {
  animation: swal2-toast-animate-success-line-long 0.75s;
}
.swal2-popup.swal2-toast.swal2-show {
  animation: swal2-toast-show 0.5s;
}
.swal2-popup.swal2-toast.swal2-hide {
  animation: swal2-toast-hide 0.1s forwards;
}
div:where(.swal2-container) {
  display: grid;
  position: fixed;
  z-index: 1060;
  inset: 0;
  box-sizing: border-box;
  grid-template-areas: "top-start     top            top-end" "center-start  center         center-end" "bottom-start  bottom-center  bottom-end";
  grid-template-rows: minmax(min-content, auto) minmax(min-content, auto) minmax(
      min-content,
      auto
    );
  height: 100%;
  padding: 0.625em;
  overflow-x: hidden;
  transition: background-color 0.1s;
  -webkit-overflow-scrolling: touch;
}
div:where(.swal2-container).swal2-backdrop-show,
div:where(.swal2-container).swal2-noanimation {
  background: rgba(0, 0, 0, 0.4);
}
div:where(.swal2-container).swal2-backdrop-hide {
  background: rgba(0, 0, 0, 0) !important;
}
div:where(.swal2-container).swal2-top-start,
div:where(.swal2-container).swal2-center-start,
div:where(.swal2-container).swal2-bottom-start {
  grid-template-columns: minmax(0, 1fr) auto auto;
}
div:where(.swal2-container).swal2-top,
div:where(.swal2-container).swal2-center,
div:where(.swal2-container).swal2-bottom {
  grid-template-columns: auto minmax(0, 1fr) auto;
}
div:where(.swal2-container).swal2-top-end,
div:where(.swal2-container).swal2-center-end,
div:where(.swal2-container).swal2-bottom-end {
  grid-template-columns: auto auto minmax(0, 1fr);
}
div:where(.swal2-container).swal2-top-start > .swal2-popup {
  align-self: start;
}
div:where(.swal2-container).swal2-top > .swal2-popup {
  grid-column: 2;
  align-self: start;
  justify-self: center;
}
div:where(.swal2-container).swal2-top-end > .swal2-popup,
div:where(.swal2-container).swal2-top-right > .swal2-popup {
  grid-column: 3;
  align-self: start;
  justify-self: end;
}
div:where(.swal2-container).swal2-center-start > .swal2-popup,
div:where(.swal2-container).swal2-center-left > .swal2-popup {
  grid-row: 2;
  align-self: center;
}
div:where(.swal2-container).swal2-center > .swal2-popup {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}
div:where(.swal2-container).swal2-center-end > .swal2-popup,
div:where(.swal2-container).swal2-center-right > .swal2-popup {
  grid-column: 3;
  grid-row: 2;
  align-self: center;
  justify-self: end;
}
div:where(.swal2-container).swal2-bottom-start > .swal2-popup,
div:where(.swal2-container).swal2-bottom-left > .swal2-popup {
  grid-column: 1;
  grid-row: 3;
  align-self: end;
}
div:where(.swal2-container).swal2-bottom > .swal2-popup {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  align-self: end;
}
div:where(.swal2-container).swal2-bottom-end > .swal2-popup,
div:where(.swal2-container).swal2-bottom-right > .swal2-popup {
  grid-column: 3;
  grid-row: 3;
  align-self: end;
  justify-self: end;
}
div:where(.swal2-container).swal2-grow-row > .swal2-popup,
div:where(.swal2-container).swal2-grow-fullscreen > .swal2-popup {
  grid-column: 1/4;
  width: 100%;
}
div:where(.swal2-container).swal2-grow-column > .swal2-popup,
div:where(.swal2-container).swal2-grow-fullscreen > .swal2-popup {
  grid-row: 1/4;
  align-self: stretch;
}
div:where(.swal2-container).swal2-no-transition {
  transition: none !important;
}
div:where(.swal2-container) div:where(.swal2-popup) {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 32em;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #545454;
  font-family: inherit;
  font-size: 1rem;
}
div:where(.swal2-container) div:where(.swal2-popup):focus {
  outline: none;
}
div:where(.swal2-container) div:where(.swal2-popup).swal2-loading {
  overflow-y: hidden;
}
div:where(.swal2-container) h2:where(.swal2-title) {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0.8em 1em 0;
  color: inherit;
  font-size: 1.875em;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}
div:where(.swal2-container) div:where(.swal2-actions) {
  display: flex;
  z-index: 1;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 1.25em auto 0;
  padding: 0;
}
div:where(.swal2-container)
  div:where(.swal2-actions):not(.swal2-loading)
  .swal2-styled[disabled] {
  opacity: 0.4;
}
div:where(.swal2-container)
  div:where(.swal2-actions):not(.swal2-loading)
  .swal2-styled:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
div:where(.swal2-container)
  div:where(.swal2-actions):not(.swal2-loading)
  .swal2-styled:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
div:where(.swal2-container) div:where(.swal2-loader) {
  display: none;
  align-items: center;
  justify-content: center;
  width: 2.2em;
  height: 2.2em;
  margin: 0 1.875em;
  animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
  border-width: 0.25em;
  border-style: solid;
  border-radius: 100%;
  border-color: #2778c4 rgba(0, 0, 0, 0) #2778c4 rgba(0, 0, 0, 0);
}
div:where(.swal2-container) button:where(.swal2-styled) {
  margin: 0.3125em;
  padding: 0.625em 1.1em;
  transition: box-shadow 0.1s;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
  font-weight: 500;
}
div:where(.swal2-container) button:where(.swal2-styled):not([disabled]) {
  cursor: pointer;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #7066e0;
  color: #fff;
  font-size: 1em;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
  box-shadow: 0 0 0 3px rgba(112, 102, 224, 0.5);
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-deny {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #dc3741;
  color: #fff;
  font-size: 1em;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-deny:focus {
  box-shadow: 0 0 0 3px rgba(220, 55, 65, 0.5);
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #6e7881;
  color: #fff;
  font-size: 1em;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel:focus {
  box-shadow: 0 0 0 3px rgba(110, 120, 129, 0.5);
}
div:where(.swal2-container)
  button:where(.swal2-styled).swal2-default-outline:focus {
  box-shadow: 0 0 0 3px rgba(100, 150, 200, 0.5);
}
div:where(.swal2-container) button:where(.swal2-styled):focus {
  outline: none;
}
div:where(.swal2-container) button:where(.swal2-styled)::-moz-focus-inner {
  border: 0;
}
div:where(.swal2-container) div:where(.swal2-footer) {
  justify-content: center;
  margin: 1em 0 0;
  padding: 1em 1em 0;
  border-top: 1px solid #eee;
  color: inherit;
  font-size: 1em;
}
div:where(.swal2-container) .swal2-timer-progress-bar-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  grid-column: auto !important;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
div:where(.swal2-container) div:where(.swal2-timer-progress-bar) {
  width: 100%;
  height: 0.25em;
  background: rgba(0, 0, 0, 0.2);
}
div:where(.swal2-container) img:where(.swal2-image) {
  max-width: 100%;
  margin: 2em auto 1em;
}
div:where(.swal2-container) button:where(.swal2-close) {
  z-index: 2;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: -1.2em;
  padding: 0;
  overflow: hidden;
  transition: color 0.1s, box-shadow 0.1s;
  border: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
  color: #ccc;
  font-family: monospace;
  font-size: 2.5em;
  cursor: pointer;
  justify-self: end;
}
div:where(.swal2-container) button:where(.swal2-close):hover {
  transform: none;
  background: rgba(0, 0, 0, 0);
  color: #f27474;
}
div:where(.swal2-container) button:where(.swal2-close):focus {
  outline: none;
  box-shadow: inset 0 0 0 3px rgba(100, 150, 200, 0.5);
}
div:where(.swal2-container) button:where(.swal2-close)::-moz-focus-inner {
  border: 0;
}
div:where(.swal2-container) .swal2-html-container {
  z-index: 1;
  justify-content: center;
  margin: 1em 1.6em 0.3em;
  padding: 0;
  overflow: auto;
  color: inherit;
  font-size: 1.125em;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}
div:where(.swal2-container) input:where(.swal2-input),
div:where(.swal2-container) input:where(.swal2-file),
div:where(.swal2-container) textarea:where(.swal2-textarea),
div:where(.swal2-container) select:where(.swal2-select),
div:where(.swal2-container) div:where(.swal2-radio),
div:where(.swal2-container) label:where(.swal2-checkbox) {
  margin: 1em 2em 3px;
}
div:where(.swal2-container) input:where(.swal2-input),
div:where(.swal2-container) input:where(.swal2-file),
div:where(.swal2-container) textarea:where(.swal2-textarea) {
  box-sizing: border-box;
  width: auto;
  transition: border-color 0.1s, box-shadow 0.1s;
  border: 1px solid #d9d9d9;
  border-radius: 0.1875em;
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 3px rgba(0, 0, 0, 0);
  color: inherit;
  font-size: 1.125em;
}
div:where(.swal2-container) input:where(.swal2-input).swal2-inputerror,
div:where(.swal2-container) input:where(.swal2-file).swal2-inputerror,
div:where(.swal2-container) textarea:where(.swal2-textarea).swal2-inputerror {
  border-color: #f27474 !important;
  box-shadow: 0 0 2px #f27474 !important;
}
div:where(.swal2-container) input:where(.swal2-input):focus,
div:where(.swal2-container) input:where(.swal2-file):focus,
div:where(.swal2-container) textarea:where(.swal2-textarea):focus {
  border: 1px solid #b4dbed;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06),
    0 0 0 3px rgba(100, 150, 200, 0.5);
}
div:where(.swal2-container) input:where(.swal2-input)::placeholder,
div:where(.swal2-container) input:where(.swal2-file)::placeholder,
div:where(.swal2-container) textarea:where(.swal2-textarea)::placeholder {
  color: #ccc;
}
div:where(.swal2-container) .swal2-range {
  margin: 1em 2em 3px;
  background: #fff;
}
div:where(.swal2-container) .swal2-range input {
  width: 80%;
}
div:where(.swal2-container) .swal2-range output {
  width: 20%;
  color: inherit;
  font-weight: 600;
  text-align: center;
}
div:where(.swal2-container) .swal2-range input,
div:where(.swal2-container) .swal2-range output {
  height: 2.625em;
  padding: 0;
  font-size: 1.125em;
  line-height: 2.625em;
}
div:where(.swal2-container) .swal2-input {
  height: 2.625em;
  padding: 0 0.75em;
}
div:where(.swal2-container) .swal2-file {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  background: rgba(0, 0, 0, 0);
  font-size: 1.125em;
}
div:where(.swal2-container) .swal2-textarea {
  height: 6.75em;
  padding: 0.75em;
}
div:where(.swal2-container) .swal2-select {
  min-width: 50%;
  max-width: 100%;
  padding: 0.375em 0.625em;
  background: rgba(0, 0, 0, 0);
  color: inherit;
  font-size: 1.125em;
}
div:where(.swal2-container) .swal2-radio,
div:where(.swal2-container) .swal2-checkbox {
  align-items: center;
  justify-content: center;
  background: #fff;
  color: inherit;
}
div:where(.swal2-container) .swal2-radio label,
div:where(.swal2-container) .swal2-checkbox label {
  margin: 0 0.6em;
  font-size: 1.125em;
}
div:where(.swal2-container) .swal2-radio input,
div:where(.swal2-container) .swal2-checkbox input {
  flex-shrink: 0;
  margin: 0 0.4em;
}
div:where(.swal2-container) label:where(.swal2-input-label) {
  display: flex;
  justify-content: center;
  margin: 1em auto 0;
}
div:where(.swal2-container) div:where(.swal2-validation-message) {
  align-items: center;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0.625em;
  overflow: hidden;
  background: #f0f0f0;
  color: #666;
  font-size: 1em;
  font-weight: 300;
}
div:where(.swal2-container) div:where(.swal2-validation-message)::before {
  content: "!";
  display: inline-block;
  width: 1.5em;
  min-width: 1.5em;
  height: 1.5em;
  margin: 0 0.625em;
  border-radius: 50%;
  background-color: #f27474;
  color: #fff;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
}
div:where(.swal2-container) .swal2-progress-steps {
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  margin: 1.25em auto;
  padding: 0;
  background: rgba(0, 0, 0, 0);
  font-weight: 600;
}
div:where(.swal2-container) .swal2-progress-steps li {
  display: inline-block;
  position: relative;
}
div:where(.swal2-container) .swal2-progress-steps .swal2-progress-step {
  z-index: 20;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background: #2778c4;
  color: #fff;
  line-height: 2em;
  text-align: center;
}
div:where(.swal2-container)
  .swal2-progress-steps
  .swal2-progress-step.swal2-active-progress-step {
  background: #2778c4;
}
div:where(.swal2-container)
  .swal2-progress-steps
  .swal2-progress-step.swal2-active-progress-step
  ~ .swal2-progress-step {
  background: #add8e6;
  color: #fff;
}
div:where(.swal2-container)
  .swal2-progress-steps
  .swal2-progress-step.swal2-active-progress-step
  ~ .swal2-progress-step-line {
  background: #add8e6;
}
div:where(.swal2-container) .swal2-progress-steps .swal2-progress-step-line {
  z-index: 10;
  flex-shrink: 0;
  width: 2.5em;
  height: 0.4em;
  margin: 0 -1px;
  background: #2778c4;
}
div:where(.swal2-icon) {
  position: relative;
  box-sizing: content-box;
  justify-content: center;
  width: 5em;
  height: 5em;
  margin: 2.5em auto 0.6em;
  border: 0.25em solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  border-color: #000;
  font-family: inherit;
  line-height: 5em;
  cursor: default;
  user-select: none;
}
div:where(.swal2-icon) .swal2-icon-content {
  display: flex;
  align-items: center;
  font-size: 3.75em;
}
div:where(.swal2-icon).swal2-error {
  border-color: #f27474;
  color: #f27474;
}
div:where(.swal2-icon).swal2-error .swal2-x-mark {
  position: relative;
  flex-grow: 1;
}
div:where(.swal2-icon).swal2-error [class^="swal2-x-mark-line"] {
  display: block;
  position: absolute;
  top: 2.3125em;
  width: 2.9375em;
  height: 0.3125em;
  border-radius: 0.125em;
  background-color: #f27474;
}
div:where(.swal2-icon).swal2-error [class^="swal2-x-mark-line"][class$="left"] {
  left: 1.0625em;
  transform: rotate(45deg);
}
div:where(.swal2-icon).swal2-error
  [class^="swal2-x-mark-line"][class$="right"] {
  right: 1em;
  transform: rotate(-45deg);
}
div:where(.swal2-icon).swal2-error.swal2-icon-show {
  animation: swal2-animate-error-icon 0.5s;
}
div:where(.swal2-icon).swal2-error.swal2-icon-show .swal2-x-mark {
  animation: swal2-animate-error-x-mark 0.5s;
}
div:where(.swal2-icon).swal2-warning {
  border-color: #facea8;
  color: #f8bb86;
}
div:where(.swal2-icon).swal2-warning.swal2-icon-show {
  animation: swal2-animate-error-icon 0.5s;
}
div:where(.swal2-icon).swal2-warning.swal2-icon-show .swal2-icon-content {
  animation: swal2-animate-i-mark 0.5s;
}
div:where(.swal2-icon).swal2-info {
  border-color: #9de0f6;
  color: #3fc3ee;
}
div:where(.swal2-icon).swal2-info.swal2-icon-show {
  animation: swal2-animate-error-icon 0.5s;
}
div:where(.swal2-icon).swal2-info.swal2-icon-show .swal2-icon-content {
  animation: swal2-animate-i-mark 0.8s;
}
div:where(.swal2-icon).swal2-question {
  border-color: #c9dae1;
  color: #87adbd;
}
div:where(.swal2-icon).swal2-question.swal2-icon-show {
  animation: swal2-animate-error-icon 0.5s;
}
div:where(.swal2-icon).swal2-question.swal2-icon-show .swal2-icon-content {
  animation: swal2-animate-question-mark 0.8s;
}
div:where(.swal2-icon).swal2-success {
  border-color: #a5dc86;
  color: #a5dc86;
}
div:where(.swal2-icon).swal2-success [class^="swal2-success-circular-line"] {
  position: absolute;
  width: 3.75em;
  height: 7.5em;
  transform: rotate(45deg);
  border-radius: 50%;
}
div:where(.swal2-icon).swal2-success
  [class^="swal2-success-circular-line"][class$="left"] {
  top: -0.4375em;
  left: -2.0635em;
  transform: rotate(-45deg);
  transform-origin: 3.75em 3.75em;
  border-radius: 7.5em 0 0 7.5em;
}
div:where(.swal2-icon).swal2-success
  [class^="swal2-success-circular-line"][class$="right"] {
  top: -0.6875em;
  left: 1.875em;
  transform: rotate(-45deg);
  transform-origin: 0 3.75em;
  border-radius: 0 7.5em 7.5em 0;
}
div:where(.swal2-icon).swal2-success .swal2-success-ring {
  position: absolute;
  z-index: 2;
  top: -0.25em;
  left: -0.25em;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border: 0.25em solid rgba(165, 220, 134, 0.3);
  border-radius: 50%;
}
div:where(.swal2-icon).swal2-success .swal2-success-fix {
  position: absolute;
  z-index: 1;
  top: 0.5em;
  left: 1.625em;
  width: 0.4375em;
  height: 5.625em;
  transform: rotate(-45deg);
}
div:where(.swal2-icon).swal2-success [class^="swal2-success-line"] {
  display: block;
  position: absolute;
  z-index: 2;
  height: 0.3125em;
  border-radius: 0.125em;
  background-color: #a5dc86;
}
div:where(.swal2-icon).swal2-success
  [class^="swal2-success-line"][class$="tip"] {
  top: 2.875em;
  left: 0.8125em;
  width: 1.5625em;
  transform: rotate(45deg);
}
div:where(.swal2-icon).swal2-success
  [class^="swal2-success-line"][class$="long"] {
  top: 2.375em;
  right: 0.5em;
  width: 2.9375em;
  transform: rotate(-45deg);
}
div:where(.swal2-icon).swal2-success.swal2-icon-show .swal2-success-line-tip {
  animation: swal2-animate-success-line-tip 0.75s;
}
div:where(.swal2-icon).swal2-success.swal2-icon-show .swal2-success-line-long {
  animation: swal2-animate-success-line-long 0.75s;
}
div:where(.swal2-icon).swal2-success.swal2-icon-show
  .swal2-success-circular-line-right {
  animation: swal2-rotate-success-circular-line 4.25s ease-in;
}
[class^="swal2"] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.swal2-show {
  animation: swal2-show 0.3s;
}
.swal2-hide {
  animation: swal2-hide 0.15s forwards;
}
.swal2-noanimation {
  transition: none;
}
.swal2-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.swal2-rtl .swal2-close {
  margin-right: initial;
  margin-left: 0;
}
.swal2-rtl .swal2-timer-progress-bar {
  right: 0;
  left: auto;
}
@keyframes swal2-toast-show {
  0% {
    transform: translateY(-0.625em) rotateZ(2deg);
  }
  33% {
    transform: translateY(0) rotateZ(-2deg);
  }
  66% {
    transform: translateY(0.3125em) rotateZ(2deg);
  }
  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}
@keyframes swal2-toast-hide {
  100% {
    transform: rotateZ(1deg);
    opacity: 0;
  }
}
@keyframes swal2-toast-animate-success-line-tip {
  0% {
    top: 0.5625em;
    left: 0.0625em;
    width: 0;
  }
  54% {
    top: 0.125em;
    left: 0.125em;
    width: 0;
  }
  70% {
    top: 0.625em;
    left: -0.25em;
    width: 1.625em;
  }
  84% {
    top: 1.0625em;
    left: 0.75em;
    width: 0.5em;
  }
  100% {
    top: 1.125em;
    left: 0.1875em;
    width: 0.75em;
  }
}
@keyframes swal2-toast-animate-success-line-long {
  0% {
    top: 1.625em;
    right: 1.375em;
    width: 0;
  }
  65% {
    top: 1.25em;
    right: 0.9375em;
    width: 0;
  }
  84% {
    top: 0.9375em;
    right: 0;
    width: 1.125em;
  }
  100% {
    top: 0.9375em;
    right: 0.1875em;
    width: 1.375em;
  }
}
@keyframes swal2-show {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes swal2-hide {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes swal2-animate-success-line-tip {
  0% {
    top: 1.1875em;
    left: 0.0625em;
    width: 0;
  }
  54% {
    top: 1.0625em;
    left: 0.125em;
    width: 0;
  }
  70% {
    top: 2.1875em;
    left: -0.375em;
    width: 3.125em;
  }
  84% {
    top: 3em;
    left: 1.3125em;
    width: 1.0625em;
  }
  100% {
    top: 2.8125em;
    left: 0.8125em;
    width: 1.5625em;
  }
}
@keyframes swal2-animate-success-line-long {
  0% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }
  65% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }
  84% {
    top: 2.1875em;
    right: 0;
    width: 3.4375em;
  }
  100% {
    top: 2.375em;
    right: 0.5em;
    width: 2.9375em;
  }
}
@keyframes swal2-rotate-success-circular-line {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes swal2-animate-error-x-mark {
  0% {
    margin-top: 1.625em;
    transform: scale(0.4);
    opacity: 0;
  }
  50% {
    margin-top: 1.625em;
    transform: scale(0.4);
    opacity: 0;
  }
  80% {
    margin-top: -0.375em;
    transform: scale(1.15);
  }
  100% {
    margin-top: 0;
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes swal2-animate-error-icon {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes swal2-rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes swal2-animate-question-mark {
  0% {
    transform: rotateY(-360deg);
  }
  100% {
    transform: rotateY(0);
  }
}
@keyframes swal2-animate-i-mark {
  0% {
    transform: rotateZ(45deg);
    opacity: 0;
  }
  25% {
    transform: rotateZ(-25deg);
    opacity: 0.4;
  }
  50% {
    transform: rotateZ(15deg);
    opacity: 0.8;
  }
  75% {
    transform: rotateZ(-5deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow: hidden;
}
body.swal2-height-auto {
  height: auto !important;
}
body.swal2-no-backdrop .swal2-container {
  background-color: rgba(0, 0, 0, 0) !important;
  pointer-events: none;
}
body.swal2-no-backdrop .swal2-container .swal2-popup {
  pointer-events: all;
}
body.swal2-no-backdrop .swal2-container .swal2-modal {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
@media print {
  body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow-y: scroll !important;
  }
  body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown)
    > [aria-hidden="true"] {
    display: none;
  }
  body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown)
    .swal2-container {
    position: static !important;
  }
}
body.swal2-toast-shown .swal2-container {
  box-sizing: border-box;
  width: 360px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}
body.swal2-toast-shown .swal2-container.swal2-top {
  inset: 0 auto auto 50%;
  transform: translateX(-50%);
}
body.swal2-toast-shown .swal2-container.swal2-top-end,
body.swal2-toast-shown .swal2-container.swal2-top-right {
  inset: 0 0 auto auto;
}
body.swal2-toast-shown .swal2-container.swal2-top-start,
body.swal2-toast-shown .swal2-container.swal2-top-left {
  inset: 0 auto auto 0;
}
body.swal2-toast-shown .swal2-container.swal2-center-start,
body.swal2-toast-shown .swal2-container.swal2-center-left {
  inset: 50% auto auto 0;
  transform: translateY(-50%);
}
body.swal2-toast-shown .swal2-container.swal2-center {
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}
body.swal2-toast-shown .swal2-container.swal2-center-end,
body.swal2-toast-shown .swal2-container.swal2-center-right {
  inset: 50% 0 auto auto;
  transform: translateY(-50%);
}
body.swal2-toast-shown .swal2-container.swal2-bottom-start,
body.swal2-toast-shown .swal2-container.swal2-bottom-left {
  inset: auto auto 0 0;
}
body.swal2-toast-shown .swal2-container.swal2-bottom {
  inset: auto auto 0 50%;
  transform: translateX(-50%);
}
body.swal2-toast-shown .swal2-container.swal2-bottom-end,
body.swal2-toast-shown .swal2-container.swal2-bottom-right {
  inset: auto 0 0 auto;
}

#kv9cdjfbdvl81764736358555 {
  outline: none !important;
  visibility: visible !important;
  resize: none !important;
  box-shadow: none !important;
  overflow: visible !important;
  background: none !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;

  -mz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  top: auto !important;
  right: 0px !important;
  bottom: 0px !important;
  left: auto !important;
  position: fixed !important;
  border: 0 !important;
  min-height: 0px !important;
  min-width: 0px !important;
  max-height: none !important;
  max-width: none !important;
  padding: 0px !important;
  margin: 0px !important;
  -moz-transition-property: none !important;
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
  transform: none !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  width: auto !important;
  height: auto !important;
  display: none !important;
  z-index: 2000000000 !important;
  background-color: transparent !important;
  cursor: none !important;
  float: none !important;
  border-radius: unset !important;
  pointer-events: auto !important;
  clip: auto !important;
  color-scheme: light !important;
}
#kv9cdjfbdvl81764736358555.widget-hidden {
  display: none !important;
}
#kv9cdjfbdvl81764736358555.widget-visible {
  display: block !important;
}
@media print {
  #kv9cdjfbdvl81764736358555.widget-visible {
    display: none !important;
  }
}

.tawk-button-hover[data-v-2fc2d95d]:focus,
.tawk-button-hover[data-v-2fc2d95d]:hover {
  background-color: hsla(0, 0%, 100%, 0.2) !important;
  border-radius: 5px !important;
}

@keyframes tawkMaxOpen {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
@-moz-keyframes tawkMaxOpen {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
@-webkit-keyframes tawkMaxOpen {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
#xh2p9onb89js1764736358896.open {
  animation: tawkMaxOpen 0.25s ease !important;
}
@keyframes tawkMaxClose {
  from {
    opacity: 1;
    transform: translate(0, 0px);
  }
  to {
    opacity: 0;
    transform: translate(0, 30px);
  }
}
@-moz-keyframes tawkMaxClose {
  from {
    opacity: 1;
    transform: translate(0, 0px);
  }
  to {
    opacity: 0;
    transform: translate(0, 30px);
  }
}
@-webkit-keyframes tawkMaxClose {
  from {
    opacity: 1;
    transform: translate(0, 0px);
  }
  to {
    opacity: 0;
    transform: translate(0, 30px);
  }
}
#xh2p9onb89js1764736358896.closed {
  animation: tawkMaxClose 0.25s ease !important;
}

.need-help {
  background: #ffffff;
  color: #28a745;
  font-weight: bold;
  font-size: var(--fontsize_12);
}
.need-help:hover {
  color: #ffab06;
}

.msg_type_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
}

.msg_type_box .input-radio {
  box-shadow: 0px 0px 0px 1px #6d6d6d;
  width: 10px;
  height: 10px;
  margin: 5px 8px;
  border-radius: 50%;
  appearance: none;
}
.msg_type_box label {
  display: flex;
  margin: 10px 15px;
  color: #000;
  cursor: pointer;
}

.msg_type_box input[type="radio"]:checked,
.msg_type_box input[type="radio"]:focus {
  box-shadow: 0px 0px 0px 2px #ffb213 !important;
  background-color: #e1ba59 !important;
  outline: none;
}

.oneclick_content_details .oneclick_left_content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: left;
}
.oneclick_content_details .oneclick_left_content .input-group-text {
  position: relative;
}

.oneclick_content_details .transfer_details_content {
  background: #f3f0da;
}

.oneclick_content_details .copy_button p {
  background: #fff;
  cursor: pointer;
}

.one_click_wrapper .oneclick-login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.one_click_wrapper .oneclick-login-btn span {
  text-align: center;
  flex: 1;
}
.login-div1 {
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.save_img_btn {
  cursor: pointer;
}
.onhead {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 700;
  line-height: 25.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: black;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

button.sendotp,
button.otpVerification {
  position: absolute;
  top: 8px;
  right: 6px;
  border-radius: 8px;
  padding: 3px 9px;
  color: #10375c;
  font-weight: 600;
  font-size: 12px;
  background: linear-gradient(167deg, #fcd35f, #fcd35f, #d8a727);
}

button.otpVerification {
  color: #fff;
  background: #00cd4c;
}

.timer_otp p {
  margin-bottom: 0;
  color: #10375c;
  font-weight: 600;
  margin-left: 6px;
}

.timer_otp {
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  gap: 0px !important;
  position: absolute;
  top: 9px;
  right: 70px;
  display: none !important;
}

.timer_otp img {
  width: 20px;
  height: auto;
}

iframe.sportsbook_iframe {
  pointer-events: none;
  cursor: pointer;
}
.login_leftimg {
  text-align: end;
}
.login_leftimg img {
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.login_leftimg_mob img {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}

.swiper-slide.top_sports_img a img {
  width: 100%;
  text-align: center;
}

.modal .signup_div {
  height: 100%;
  width: 440px;
}

.satbet-container {
  width: 360px;
}
.top_sports_wrapper .swiper-slide img {
  width: 100%;
}

.modal .signup_div,
.modal .login-div {
  width: 440px;
}

@media screen and (max-width: 992px) {
  .close-login {
    z-index: 2;
    top: -142px;
    right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .close-login {
    top: -142px;
  }
}

@media screen and (max-width: 575px) {
  .modal .signup_div,
  .modal .login-div {
    width: 375px;
  }

  .satbet-container {
    width: 330px;
  }

  .close-login {
    top: -118px;
  }
}

@media screen and (max-width: 375px) {
  .modal .signup_div,
  .modal .login-div {
    width: 353px;
  }

  .close-login {
    top: -108px;
  }

  .login-btn-form {
    width: 100%;
  }
}

.dropdown.country-flag-code-dropdown button {
  padding-top: 8px !important;
}

.herosec_swipper .swiper-slide img.banner-side {
  width: 100% !important;
}
